.blogWrapper {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.blog {
    background-color: #FFF;
    width: 50%;
    height: 70%;
    box-shadow: 0px 0px 3px 3px #f0efee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
    position: relative;

    &::before {
        content: '';
        height: 100%;
        width: 1rem;
        position: absolute;
        left: 0;
        background-color: rgb(253, 207, 82);
    }


    .blogContent {
        font-weight: 300;
        font-size: 1.6rem;
    }

    .blogAuthor {
        font-weight: 500;
        font-size: 1.5rem;
        width: 100%;
        text-align: left;
    }
}