@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f0f4f7;
}


.headerWrapper {
    position: sticky;
    top: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1a1f22;
    z-index: 6;




    .headerLogo {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 3rem;

        h1 {
            font-weight: 500;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            user-select: none;
            display: block;
            margin-left: .4em;
            transition: all 400ms ease-in-out;
            font-size: 2rem;

        }

        span {
            font-weight: 300;

        }




    }

    .logoImg {
        display: flex;

        svg {
            height: 3em;
            width: 4em;

            path {
                fill: #FBCE63;
                transition: all 400ms ease-in-out;

            }
        }
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        height: 100%;

        .link {
            font-size: 1.1rem;
            font-weight: 500;
            padding: 1rem 2rem;
            height: 100%;
            display: flex;
            justify-content: center;
            transition: all 200ms ease-in-out;
            align-items: center;
            cursor: pointer;
            &:hover {
                transition: all 200ms ease-in-out;
                background-color: #f0f4f7;
                color: #1a1f22;
            }
        }
    }
}