.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 5rem);
}

.wrapper .logo img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.wrapper .logo .title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  margin-top: 1rem;
}

.formWrapper {
  background-color: #FFF;
  padding: 1rem;
  height: 30rem;
  width: 30rem;
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 0 1px #757373;
          box-shadow: 3px 3px 0 1px #757373;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.formWrapper:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #333232;
          box-shadow: 0 0 0 0 #333232;
}

.form {
  width: initial;
  margin-top: 2rem;
}

.form .input {
  border: none;
  border-bottom: 1px solid #dfdcdc;
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  height: 4em;
}

.form .input::-webkit-input-placeholder {
  font-weight: 500;
}

.form .input:-ms-input-placeholder {
  font-weight: 500;
}

.form .input::-ms-input-placeholder {
  font-weight: 500;
}

.form .input::placeholder {
  font-weight: 500;
}

.form .input:focus {
  outline: none;
}

.form .textarea {
  margin-top: 1rem;
}

.form .textarea::-webkit-input-placeholder {
  font-size: .8rem !important;
}

.form .textarea:-ms-input-placeholder {
  font-size: .8rem !important;
}

.form .textarea::-ms-input-placeholder {
  font-size: .8rem !important;
}

.form .textarea::placeholder {
  font-size: .8rem !important;
}

.form .content label {
  margin-bottom: 2rem !important;
}

.form .label {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.form .label .border {
  display: block;
  position: absolute;
  width: 100%;
  height: 4%;
  background-color: #1a1f22;
  bottom: -1%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.form .label .clicked {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.form .blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .blogInfo .label:first-child {
  margin-right: 2em;
}

.form .add {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  height: 3em;
  border: 1px solid #000;
  border-radius: 2px;
  margin-top: 3em;
  width: 100%;
  font-size: 1em;
  border: none;
  color: #FFF;
  background-color: #273036;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.form .add:hover, .form .add:focus {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  background-color: #121618;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

textarea {
  resize: none;
}

.error .formWrapper{
  animation: invalidFields 200ms 3 ease-in-out;
}

.error {
  animation: error 1000ms 1 ease-in-out;
}

@keyframes invalidFields {
  0% {
      transform: translateX(-3%);
  }

  50% {
      transform: translateX(3%);
  }

  100% {
      transform: translateX(0);
  }
}
@keyframes error {
  from{
      background-color: #ea5d5d;
  }

  to {
      background-color: #f0f4f7;
  }
}
