{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/form/form.css">
{% endblock css %}

{% block title %}
  <title>Create New Blog</title>
{% endblock title %}

{% block body %}
  <div class="wrapper">
    <div class="formWrapper">
        <div class="logo">
          <img src="../static/assets/feather.png"/>
          <h2 class="title">Add Blog</h2>
      </div>
      <form method="POST" action="{{ url_for('add') }}" class="form">
          <div class="blogInfo">
              <label class="label">
                  <input class="input" type="text" name="author" placeholder="Author">
                  <span class="border"></span>
              </label>
              <label class="label">
                  <input class="input" type="text" name="title" placeholder="Title">
                  <span class="border"></span>
              </label>
          </div>
          <div class="content">
              <label class="label">
                  <textarea class="input textarea" type="text" name="content" placeholder="Content"></textarea>
                  <span class="border"></span>
              </label>
          </div>

          
          <button class="add">Add</button>
      </form> 
    </div>
  </div>
{% endblock body %}  

{% block script %}
    <script src="../static/js/form.js"></script>
{% endblock script %}