{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/form/form.css">
{% endblock css %}

{% block title %}
  <title>Edit Blog</title>
{% endblock title %}

{% block body %}
  <div class="wrapper">
    <div class="formWrapper">
        <div class="logo">
          <img src="../static/assets/edit.png"/>
          <h2 class="title">Edit blog</h2>
      </div>
      <form method="POST" action="{{ url_for('edit', id = blog.id) }}" class="form">
          <div class="blogInfo">
              <label class="label">
                  <input class="input" type="text" name="author" placeholder="Author" value="{{ blog.author }}">
                  <span class="border"></span>
              </label>
              <label class="label">
                  <input class="input" type="text" name="title" placeholder="Title" value="{{ blog.title }}">
                  <span class="border"></span>
              </label>
          </div>
          <div class="content">
              <label class="label">
                  <textarea class="input textarea" type="text" name="content" placeholder="Content">{{ blog.content }}</textarea>
                  <span class="border"></span>
              </label>
          </div>

          <button class="add">Edit</button>
      </form> 
    </div>
  </div>
{% endblock body %}

{% block script %}
    <script src="../static/js/form.js"></script>
{% endblock script %}